# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Node modules
**/node_modules/

# Build output
dist/
build/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/

# dotenv
.env